#imgs img 
{
    /*overlays all the imgs */
    /*You see only the first img, for now*/
    width:100%;
    height:100%;
    position:absolute;
    top:6.6%;
    left:0;
    transition: 1s;
    visibility:hidden;
    /*we want to show only 1 img at the time*/
}
/*the container */
#Snav 
{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:7.7%;
    left:0;
}
/* where the circles are going to be*/
#SnavUp 
{
    display:block;
    width:100%;
    height:20%;
}
#Scircles 
{
    display:block;
    width:5%;
    height:15%;
    margin-right:5%;
    margin-top:2%;
    float:right;        /* is going to be on the right side of the slider*/
}
#Scircles ul 
{
    margin:0;
    float:right;
    display:block;
    width:100%;
    height:100%;
    opacity: 0;
}
#Scircles li
{
    /*we don't need the dots*/
    list-style:none;
    display:block;
    background-color:rgba(0, 0, 0, 1);
    width:25%;
    height:90%;
    margin-left:5%;
    float:left;     /*on the same line*/
    visibility:hidden;
    /*we need circles, not squares*/
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;

}
/*ok , we are done with the SnavUp*/
#SnavMiddle 
{
    display:block;
    width:100%;
    height:15%;
    margin-top:10%;     /*this is up to you , where you want the buttons*/
}
/*left button*/
#Sleft 
{
    width:8%;
    height:100%;
    float:left;
    margin-left:3%;
    opacity:0.8;
}
/*button effect*/
#Sleft:hover 
{
    opacity:0.8;
}
#Sright 
{
    width:8%;
    height:100%;
    float:right;
    margin-right:3%;
    opacity:0.8;
}
#Sright:hover 
{
    opacity:0.8;
}
/*now we have to add the info at the bottom of the slider*/
#SnavBottom 
{
    display:block;
    background-color:rgba(0, 0, 0, 0.8);
    width:100%;
    height:15%;
    position:absolute;
    bottom:0;
    left:0;

}
#SnavBottom p 
{
    font:normal 200% Arial;
    color:#fff;
    position:absolute;
    bottom:56;
    left:0;
    margin-left:3%;
    visibility:hidden;
}

.mensajePrincipal{
  width: 40%
  padding-top:10%;
  color: #f7f7f7;
  position: fixed;
  z-index: 0;

}

  .mensajePrincipal h1 {
    color: #ededed;
    font-size: 4em;
    text-shadow: 5px 5px 7px #000; 
    margin-top: 13.5%;
    margin-left: 5%;

    }

  .mensajePrincipal h2 {
    margin-top: -30%;
    margin-left: 40%;
    color: #ededed;
    font-size: 2em;
    text-shadow: 5px 5px 7px #000;
    opacity: 0; }

  .mensajePrincipal p {
    margin-top: -1%;
    margin-left: 60%;
    color: #ededed;
    font-size: 1.8em;
    text-shadow: 5px 5px 7px #000;
    font-weight: bolder;
    width: 30%;
    text-align: justify;
    opacity: 0; }

    .mensajePrincipal .triangle {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 190px solid rgba(0,0,0,0.7);
    border-bottom: 100px solid transparent; }
    .mensajePrincipal .triangle span {
      line-height: 2em;
      display: block;
      width: 130px;
      top: -2em;
      left: -180px;
      position: relative; }

/*that's all , now we need to code the slider, the effect*/