{% extends 'menu/layoutBootstrap.html' %}
{% load bootstrap3 %}

{% block main %}
    <h3> Porfavor confirme su compra</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Producto</th>
                <td></td>
                <th class="col-md-1">Cantidad</th>
                <th class="col-md-1">Precio</th>
                <th class="col-md-1">Subtotal</th>
            </tr>
        </thead>
        <tbody>
        {% for producto, datos in productosAComprar.items  %}
            <tr>
                <td class="col-md-1">{{ producto }}<td>
                <td class="col-md-1">{{ datos.0 }}</td>
                <td class="col-md-1">{{ datos.1 }}</td>
                <td class="col-md-1">{{ datos.2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Total: {{ total }}</th>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href = "/confirmar_compra/{{ total }}">Confirmar</a>
    <a class="btn btn-default" href = "{% url 'menu:hacer_pedidos' %}">Cancelar</a>
{% endblock %}