{% extends 'menu/layoutBootstrap.html' %}
{% load bootstrap3 %}
{# No se por que pero hay que poner esto #}

{% block main %}
<form action = "" method = "post">
    {% csrf_token %}
	<p>{% bootstrap_label "Pseudónimo" %}		
		<span style="color:red">*<span>
		{% bootstrap_field form.pseudonimo  show_label=False %}
	</p> 
    <p>{% bootstrap_label "Contraseña" %}
		<span style="color:red">*<span>
		{% bootstrap_field form.passwd  show_label=False %}
	</p>
	<!-- Si existe un error, se coloca aquí el mensaje --> 
	{% if error_message %}
	{% bootstrap_alert error_message alert_type='danger' dismissable=False %}
	{% endif %}
    <input type = "submit" value = "Iniciar Sesion"/>
</form>
{% endblock %}

