{% extends 'menu/layoutBootstrap.html' %}
{% load bootstrap3 %}

{% block main %}
    {% if message %}
        <script> alert('{{ message }}') </script>
    {% endif %}
<form action = "" method = "post">
    {% csrf_token %}
    <p>{% bootstrap_label "PIN" %}
	<span style="color:red">*<span>
	{% bootstrap_field form.PIN  show_label=False %}
	</p> 
	<p>{% bootstrap_label "Monto" %}
	<span style="color:red">*<span>
	{% bootstrap_field form.monto  show_label=False %}
	</p> 

    <input type = "submit" value = "Recargar"/>
</form>
{% endblock %}
