{% extends 'menu/layoutBootstrap.html' %}
{% load bootstrap3 %}

{% block title %}
{% if pseudonimo %}
    <title>Perfil {{ pseudonimo }}</title>
    {% else %}
    <title>Perfil</title>
    {% endif %}
{% endblock %}

{% block main %}
{% if logged %}
    <p> Pseudónimo: {{ pseudonimo }}</p>
    <p> e-mail: {{ email }}</p>
    <p> Nombre: {{ nombre }}</p>

    {% if es_cliente %}
        <p> Apellido: {{ apellido }}</p>
        <p> CI: {{ ci }}</p>
        <p> Teléfono: {{ telefono }}</p>

    {% else %}
        <p> RIF: {{ rif }}</p>
    {% endif %}

    {# Boton de editar perfil #}
    {% bootstrap_button "Editar" button_class="btn btn-default" href='/menu/perfil/editar' %}

    {# Boton de afiliar billetera #}
    {% if es_cliente %}
        {% bootstrap_button "Billetera" button_class="btn btn-default" href='/menu/perfil/billetera' %}
    {% else %}
        {% bootstrap_button "Inventario" button_class="btn btn-default" href='/menu/perfil/inventario' %}
    {% endif %}

    {% if is_staff %}
        {% bootstrap_button "Transacciones" button_class="btn btn-default" href='/menu/transacciones_rest' %}
        {% bootstrap_button "Interfaz de Admininistración" button_class="btn btn-default" href='/admin' %}
        {% bootstrap_button "Hacer Pedidos" button_class="btn btn-default" href='/menu/hacer_pedidos' %}
        {% bootstrap_button "Platos más Pedidos" button_class="btn btn-default" href='/menu/platos_mas_pedidos' %}
    {% endif %}

{% else %}
    <p> Usted no ha iniciado sesión </p>
{% endif %}
{% endblock %}
