{% extends 'menu/layoutBootstrap.html' %}
{% load bootstrap3 %}

{% block title %}
{% if pseudonimo %}
    <title>Perfil {{ pseudonimo }}</title>
    {% else %}
    <title>Perfil</title>
    {% endif %}
{% endblock %}

{% block main %}
{% if logged %}
    <p> Pseudonimo: {{ pseudonimo }}</p>
    <p> e-mail: {{ email }}</p>
    <p> Nombre: {{ nombre }}</p>

    {% if es_cliente %}
        <p> Apellido: {{ apellido }}</p>
        <p> CI: {{ ci }}</p>
        <p> Telefono: {{ telefono }}</p>
        <p> Fecha de Nacimiento: {{fechaNacimiento}}</p>

    {% else %}
        <p> RIF: {{ rif }}</p>
    {% endif %}

    {# Boton de editar perfil #}
    {% bootstrap_button "Editar" button_class="btn btn-default" href='/menu/perfil/editar' %}

    {# Boton de afiliar billetera #}
    {% if es_cliente %}
        {% bootstrap_button "Billetera" button_class="btn btn-default" href='/menu/perfil/billetera' %}
    {% endif %}

{% else %}
    <p> Usted no ha iniciado sesion </p>
{% endif %}
{% endblock %}