{% extends "admin/base.html" %}

{% block title %}{{ title }} | PangoExpress Administracion{% endblock %}
{% block extrastyle %}
    {# Vergas para que muestre acentos y se adapte a movil #}
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Vergas de bootstrap #}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Vergas de nuestro CSS #}
    {% block stylesheets %}
        {% load staticfiles %}
        <link rel = "stylesheet" type ="text/css" href="{% static 'menu/layout2.css' %}" />
    {% endblock %}



<style>
	#header {
		background-color: #FB9209;
		color: white;
	}
	.module h2, .module caption, .inline-group h2 {
		background-color: #FB9209;
		color: white;
	}
	div.breadcrumbs{
		background:#e17f00;;
	}
	.button, input[type=submit], input[type=button], .submit-row input, a.button{

		background: #e17f00;
	}
	.button.default, input[type=submit].default, .submit-row input.default {
	
		background: #e17f00;	
}

</style>
{%endblock%}

{% block branding %}
<h1 id="site-name"><a  href="{% url 'admin:index' %}"><span><img class= "navbar-loguito" src="{%static 'menu/images/Untitled-1.png'%}"></span><span class= "change">Pango</span><span class ="change2">express</span> Administracion</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}