<html>
    <head>
        {# Vergas para que muestre acentos y se adapte a movil #}
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Vergas de bootstrap #}
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# CSS de la pagina #}
        {% block stylesheets %}
            {% load staticfiles %}
            <link rel = "stylesheet" type ="text/css" href="{% static 'layoutStyle.css' %}" />
        {% endblock %}

        {% block title %}
            <title> PangoExpress Administracion </title>
        {% endblock %}
    </head>

    <body>
        <header>
            <h2><a href="{% url 'administracion:index' %}"><img src="{% static 'images/pangologo.png' %}">PangoExpress Administracion</a></h2>
            <a href="http://127.0.0.1:8000" id="volver"> Volver </a>
        </header>

        <section id="main">
            {% block main %}
            {% endblock %}
        </section>
    </body>

</html>